body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#cdcdcd
}

header {
    background-color: white;
    height: 45px;
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
    width: auto;
}