html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* hides scrollbars */
    height: 100%;
    width: 100%;
    background-color: rgb(210, 210, 210);
}

header {
    background-color: white;
    height: 45px;
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
    width: auto;
}


.canvas-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;

}

canvas {
  display: block;
}